<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../complete_est_view.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div class="cont">


        <div class="nav">
            <div class="buy_sell">
                <a href="/">HOME</a>
                <a href="/display">BUY</a>
                <a href="/create" id="create">SELL</a>
            </div>

            <!-- <button  class="search" id="create">SEARCH</button> -->
            <div class="log_reg">
                <a href="/login">LOGIN</a>
                <a href="/register">REGISTER</a>
                <a id="username_cp" href="#"></a>
                
            </div>

        </div>
    </div>



    <div id="root_est"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../complete_est_view.js"></script>

</body>

</html>