<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All estates will be displayed</h1>
    <div class="test" id="test">hiiii</div>

 <img src="" class="img" id="img">              


    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  
  <script src="../display.js"></script>
</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>All estates will be displayed</h1>
  <div class="test" id="test">hiiii</div>

  <img src="" class="img" id="img">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="../display.js"></script>
</body>

</html> -->




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../display.css">
  <link rel="shortcut icon" href="#">

</head>

<body>
  <div class="container">

    <div class="nav">

      <div class="buy_sell">
        <a href="/">HOME</a>
        <a href="/display">BUY</a>
        <a href="/create" id="create">SELL</a>
      </div>


      <!-- <button  class="search" id="create">SEARCH</button> -->
      <div class="log_reg">
        <a href="/login">LOGIN</a>
        <a href="/register">REGISTER</a>
        <a id="username1" href="#"></a>
      </div>

    </div>

    <div class="filter_para">
      <div class="search_container pms">
        <input type="text" id="sb_location1" name="sb_location" placeholder="Enter location....." class="search_bar" />
        <button class="search" id="search1">SEARCH</button>
      </div>
      <div class="price_container pms">
        <input type="number" class="search_bar" id="sb_price1"  placeholder="Lower price limit....." class="price" />
        <button class="search" id="search2">SEARCH</button>

      </div>
      <div class="price_container pms">
        <input type="number" class="search_bar" id="sb_price2"  placeholder="Upper price limit....." class="price" />
        <button class="search" id="search4">SEARCH</button>

      </div>
      <div class="bedrooms_container pms">
        <input type="number" class="search_bar" id="sb_bedrooms1" placeholder="Bedrooms....." class="bedrooms" />
        <button class="search" id="search3">SEARCH</button>

      </div>
    </div>



    <div class="test" id="test"></div>


    <!-- <h1>All estates will be displayed</h1> -->

    <!-- 
  <img src="" class="img" id="img"> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="../display.js"></script>
</body>

</html>