<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../personal_profile.css">
    <link rel="shortcut icon" href="#">

</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="buy_sell">
                <a href="/">HOME</a>
                <a href="/display">BUY</a>
                <a href="/create" id="create">SELL</a>
            </div>

            

            <!-- <button  class="search" id="create">SEARCH</button> -->
            <div class="log_reg">
          
                <a id="username1" href="#"></a>
                <a id="logout" href="#"></a>
            </div>

        </div>
        <div class="heading"><h2>Find you Shelter!!!</h2></div>
        





        <div id="user_info">

        </div>

    </div>



    <div id="user_info">

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="../personal_profile.js"></script>
</body>
</html>